@model IEnumerable<ConserviceHRSite.Models.Employee>
@{ ViewData["Title"] = "Reporting Numbers"; }

<h1>Reporting</h1>
<h3>Weekly Hires:</h3>
<h2 class="text-primary">@ViewBag.WeeklyHires</h2>

<h3>Yearly Terminations:</h3>
<h2 class="text-primary">@ViewBag.YearlyTerminations</h2>

