@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-secondary">Conservice Employee Managment</h1>
    <p>A site for HR to manage employees, departments, positions, and reporting.</p>
</div>
<img src="/images/hr.jpg" alt="Hr jumping" class="col-sm-12" />